<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Anteckningar</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='resources/favicon-32x32.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/classic.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/medium-editor.min.css') }}">
    <script src="{{ url_for('static', filename='js/medium-editor.min.js') }}"></script>
    <script>
        let currentProjectId = {{ project_id }};
    </script>

    


</head>

<body>
    <header class="topbar">
        <div id="boards" class="boards"></div>

        <div class="topbar-actions">
            <button id="addNoteBtn" class="icon-btn" title="New Note">➕</button>
            <button id="settingsBtn" class="icon-btn" title="Settings">⚙️</button>
            <div class="bg-color-picker-wrapper">
                 <div id="bgColorPickerContainer" class="pickr-container"></div>
            </div>


        </div>
    </header>

    <!-- Settings menu -->
    <div id="settingsMenu" class="settings-menu hidden">
        <div class="settings-content">
            <button id="newBoardBtn">➕ New board</button>
            <button id="pasteNoteBtn">📋 Paste note</button>
            <button id="recentlyDeletedBtn">🕑 Recently deleted</button>
            <button id="renameProjectFromMenuBtn">⚜️ Rename project</button>
            <label>
                📐 Snapping
                <input type="checkbox" id="snapToggle" />
            </label>
            <form action="http://192.168.1.14:1906/">
                <input type="submit" value=">❌ Close project" />
            </form>
        </div>
    </div>

    <!-- Board context menu -->
    <div id="boardContextMenu" class="context-menu hidden">
        <div class="menu-content">
            <button id="renameBoardFromMenuBtn">✏️ Rename board</button>
            <button id="duplicateBoardFromMenuBtn">📑 Duplicate board</button>
            <button id="deleteBoardFromMenuBtn">🗑 Delete board</button>
        </div>
    </div>

    <main id="boardArea" class="board-area">
    </main>
    
    <!-- Bottom action sheet -->
    <div id="actionSheet" class="action-sheet hidden">
        <div class="sheet-content">
            <div class="bg-color-picker-wrapper">
                <div id="noteColorPickerContainer" class="pickr-container" ></div>
            </div>
            <button id="copyNoteBtn">Copy</button>
            <button id="deleteNoteBtn">Delete</button>
        </div>
    </div>

    
</body>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr"></script> -->
    <script src="{{ url_for('static', filename='js/pickr.js') }}"></script>
    <script src="{{ url_for('static', filename='js/interact.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</html>